.card{

    width: 60%;
    height: 70px;
    max-width: 800px;
    margin: auto;

}

.card-filtro{

   
    margin-top: 80px;

    .card-content{

        display: flex;
        justify-content: center;
        align-items: center;

        .input-search{
            
            width: 90%;
            
        }
    }
}
