@import '../../variaveis.scss';

.cabecalho {

    height: 9vh;
    width: 100%;
    background-color: $color_blue_dark;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;

    .btn-menu {

        color: #fff;
        margin-left: 1%;
    }

    #user {
        margin-left: auto;
        margin-right: 2%;
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
    }

    .photoUrl {
        position: fixed;
        right: 2%;
        width: 40px;
        border-radius: 25px;
        cursor: pointer;
        color: white;

    }

}