@import "../../variaveis.scss";

.header {

    width: 100%;
    background-color: $color_blue_dark;
    padding: 1%;
    box-sizing: border-box;
    color: white;

    h3 {

        margin: 0;
        margin-left: 1%;
    }
}

form {
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    max-height: 100%;
    margin: auto auto;

    .card-form {
        margin-top: 10px;
        width: 100%;
        .buttons{
            margin: auto;
            justify-content: space-between;
        }
        .mat-form-field {
            width: 100%;
            margin-top: .8em;
        }
    }
}