<!--Main Div-->
<div fxLayoutAlign="center center" fxFlexFill class="main-div">


  <!--Area Content-->
  <mat-card fxFlex="20" class="content">
    <!--Header-->
    <mat-toolbar fxLayoutAlign="center center" class="header">
      <span>Login</span>
    </mat-toolbar>
    <!--end-->

    <mat-divider [inset]="true"></mat-divider>

    <!--Form-->
    <form fxLayoutAlign="streth" fxLayout="column" class="login-form" (ngSubmit)="submit(form)" #form="ngForm">
      <mat-form-field class="form-input">
        <input matInput placeholder="Email" name="user" [(ngModel)]="usuario.email" required
        />
      </mat-form-field>

      <mat-form-field class="form-input">
        <input matInput type="password" placeholder="Password" name="user" [(ngModel)]="usuario.password" required />
      </mat-form-field>

      <div fxLayoutAlign="space-around">
        <button type="submit" class="sing-btn" mat-raised-button color="primary" [disabled]="form.invalid">
          Sign In
        </button>
      </div>
    </form>
    <!--end-->
  </mat-card>
</div>