.table-container {
    width: 100%;
    min-height: 0px;
    max-height: 600px;
    overflow: auto;
    margin: 0 auto;
    margin-top: 4%;
}

.table-container::-webkit-scrollbar{

    height: 10px;
    width: 10px;
    background-color: rgb(106, 106, 106);
}

.box-table{

    margin: 2%;

}
.table-container::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 88%, 0.875);
    border-radius: 2px;
}

table {
    width: 100%;

}


.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 30%;
    text-overflow: ellipsis;
    white-space: word-wrap;
    overflow: hidden;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type{
    padding-left: 20px;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding-left: 12px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.controle-table {

    display: flex;
}
