@import '../../variaveis.scss';


.header {

    background-color: $color_blue_dark;
    box-shadow: 0px 2px 2px rgb(141, 141, 141);
    position: fixed;
    width: 100vw;
    min-height: 50px;
    z-index: 1000;
    padding: 0;

    .area-logo {

        width: 10vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #logo {
            height: 70%;
            max-height: 40px;
            width: auto;
        }

    }

    // Contêm o texto como o nome da aplicação
    span {

        color: white;
        font-family: 'Montserrat''Sans-serif';
        margin-left: auto;
    }

    // Estilo do user no header
    #user {

        margin-left: auto;
        margin-right: 2%;

        .photoUrl {

            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: white;
            text-align: center;
            line-height: 30px;
            border: 1px solid rgb(255, 251, 251);
        }

        .photoUrl:hover {

            cursor: pointer;
        }

    }


}

.container {

    display: flex;
    flex-direction: row;
    position: absolute;
    width: 100%;
    min-height: 100%;

    .drawer {

        border: none;
        width: 100%;

        .menu-lateral {

            position: fixed;
            margin-top: 50px;
            width: 10vw;
            height: 100%;
            min-width: 90px;
            border: none;
            box-shadow: 2px 0px 2px rgb(183, 183, 183);



        }

        .main {
           

            .btn-menu {

                position: fixed;
                z-index: 10;
                margin-left: 0.2%;
                top: 50%;
                background: rgba(5, 52, 138, 0.694);
            }

            main {

                .tab-view-table {
                    margin: auto;
                    width: 90%;
                    margin-top: 2%;
                    min-height: 350px;
                    
                    .accordion{

                        padding: 0 2%;
                        .accordion-item{

                            margin: 0 3%;
                            
                        }  
                    } 
               
                }

                .view-statistcs{

                    margin: auto;
                    width: 90%;
                    margin-top: 2%;
                }

              
            }

        }

    }

}

// .footer {
//     height: 10em;
//     width: 100%;
//     background-color: $color_blue_dark;
//     margin-bottom: 0;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;

//     #div1{
//         vertical-align: middle;
//         margin: 0 auto;
//         #logo-moto{
//             max-width: 100px;
//         }
//     }
//     #div2{
//         vertical-align: middle;
//         margin: 0 auto;
//         #insta{
//             height: 48px;
//         }
//     }
    
//     #div3{
//         vertical-align: middle;
//         margin: 0 auto;

//         #webacademy{
//             -moz-transform: scaleX(-1);
//             -o-transform: scaleX(-1);
//             -webkit-transform: scaleX(-1);
//             transform: scaleX(-1);
//         }
//     }

// }